:root {
  --red: rgb(172, 30, 30);
  --orange: rgb(233, 130, 0);
  --blue: rgb(36, 1, 83);
  --light-green: rgb(174, 250, 214);
  --purple: rgb(80, 5, 179);
}

body {
  background: linear-gradient(var(--red), var(--blue));
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin: 70px 125px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../images/foto\ van\ gans\ in\ het\ water\ van\ het\ Stadspark\ net\ na\ zonsondergang\ op\ 8\ april\ 2024.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px;
}

header h1 {
  margin: 30px 0;
}

header a {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(var(--red), var(--purple));
  display: inline-block;
  padding: 10px;
  margin: 20px 0;
  border-radius: 15px;
}

h1 {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 30px;
  color: var(--light-green);
}

h3 {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--light-green);
  font-size: 30px;
}

p {
  color: var(--light-green);
  font-size: 30px;
}

img {
  border-radius: 8%;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--orange);
  font-size: 30px;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-two-columns {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.grid-three-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

main {
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(rgba(172, 30, 30, 0.7), rgba(36, 1, 83, 0.7));
}

footer {
  background-image: linear-gradient(
      rgba(172, 30, 30, 0.7),
      rgba(36, 1, 83, 0.7)
    ),
    url("../images/foto\ van\ de\ magnolia\ boom\ en\ andere\ bomen\ bij\ zonsondergang\ op\ 8\ april\ 2024\ hier\ minder\ pad\ en\ meer\ blauwe\ lucht.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
}

footer h3 {
  background-color: rgba(36, 1, 83, 0.7);
  border-radius: 8px;
  padding: 5px;
  margin: 10px auto;
}

footer li {
  list-style: none;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .grid-three-columns {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 950px) {
  .grid-two-columns {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  footer {
    padding: 10px;
  }

  .container {
    margin: 10px 10px;
  }
}

@media (max-width: 600px) {
  header {
    padding: 10px 0;
  }

  header h1 {
    font-size: 25px;
    margin: 15px 10px;
  }
  header h2 {
    font-size: 10px;
  }

  header a {
    font-size: 10px;
  }
}
